<div id="klipper_graph_dialog" class="modal hide fade large" tabindex="-1" role="dialog" aria-labelledby="klipper_graph_dialog_label" aria-hidden="true">
   <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">&times;</button>
       <h3 id="klipper_pid_tuning_dialog_label">{{ _('Performance Graph') }}</h3>
   </div>
   <div class="modal-body">
      <div class="full-sized-box">
         <script src="plugin/klipper/static/js/lib/Chart.bundle.min.js" type="text/javascript" defer></script>
         <canvas id="klipper_graph_canvas"></canvas>
      </div>
      <span class="help-inline" style="display:block; position: absolute">
         <em>Click labels to hide/show dataset</em>
      </span>
      <label class="checkbox fill-checkbox">
         <input type="checkbox" data-bind="checked: datasetFill, click: toggleDatasetFill" />{{ _('Fill Datasets') }}
      </label>
   </div>
   <div class="modal-footer">
      <form class="form-inline">
         <span text-align="left" data-bind="text: status" class="status-label"></span>
         <label class="control-label">
            {{ _('Select') }}
            <select data-bind="options: availableLogFiles, optionsText: 'name', optionsValue: 'file', value: logFile"></select>
         </label>
         <button class="btn" data-bind="click: listLogFiles" title="Refresh file list"><i class="icon-refresh"></i></button>
         <button class="btn" data-bind="click: loadData"><i class="icon-signal"> </i>{{ _('Analyze Log') }}</button>
         <button class="btn" data-dismiss="modal"><i class="icon-remove"> </i>{{ _('Close') }}</button>
      </form>
   </div>
</div>
<div id="klipper_graph_spinner" class="modal hide fade small" tabindex="-1" role="dialog" aria-hidden="true">
   <img src="plugin/klipper/static/img/spinner.gif" width="100" height="100">
   <span class="help-inline">
      Depending on the size of the log file this might take a while.
   </span>
</div>
