<div id="klipper_pid_tuning_dialog" class="modal hide fade small" tabindex="-1" role="dialog" aria-labelledby="klipper_pid_tuning_dialog_label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 id="klipper_pid_tuning_dialog_label">{{ _('PID Tuning') }}</h3>
    </div>
    <div class="modal-body">
       <div class="control-group">
         <label class="control-label">{{ _('Heater / Extruder Name (from config file)') }}</label>
         <div class="controls">
           <div class="input-append">
              <input type="text" class="input-block-level span2" data-bind="value: heaterName">
              <span class="add-on">{{ _('name') }}</span>
           </div>
         </div>
       </div>
       <div class="control-group">
         <label class="control-label">{{ _('Target Temperature') }}</label>
         <div class="controls">
            <div class="input-append">
               <input type="text" class="input-block-level span2" data-bind="value: targetTemperature">
               <span class="add-on">°C</span>
            </div>
         </div>
       </div>
       <label class="control-label">{{ _('The result of the tuning cycle is reported in the message log.') }}</label>
       <div class="control-group">
         <div class="controls">
             <button class="btn btn-block" data-bind="click: startTuning" data-dismiss="modal"><i class="icon-fire"></i> {{ _('Start Tuning') }}</button>
         </div>
       </div>
   </div>
</div>
