.plugin-klipper-log {
   padding: 3px;
   overflow-y: scroll;
   height: 400px;
   border: 1px solid #eee;
}

.plugin-klipper-log .log-item {
   margin: 3px auto 0 auto;
   border: 1px solid #ddd;
   border-radius: 3px;
   background-color: #eeeeef;
   color: 333;
}

.plugin-klipper-log .error {
   background-color: #eebabb;
}

.plugin-klipper-log .log-item .ts {
   display: inline-block;
   width:  13%;
   height: 100%;
   vertical-align: top;
   font-size: 0.8em;
   padding: 0 0 0 5px;
}

.plugin-klipper-log .log-item .msg {
   display: inline-block;
   width: 84%;
   height: 100%;
}

.clear-btn {
   margin-top: 6px;
}

#plugin-klipper-config {
   font-family: monospace;
}

#klipper_graph_dialog form {
	margin: 0;
}

#klipper_graph_dialog .graph-footer {
   bottom:0;
}

#klipper_graph_dialog input {
   display: inline-block;
}