.plugin_klipper_log {
   padding: 0.5em;
   overflow-y: scroll;
   height: 400px;
   background-color: #efefef;
   border: 1px #eee;
   border-radius: 3px;
}

.plugin_klipper_log .log-item {
   margin: 0 auto 0 auto; 
}

.plugin_klipper_log .error {
   color: red;
}

.clear-btn {
   margin-top: 6px;
}